#Add
{
	text-align:center;
	width: 70%;
	margin-left: 15%;
	margin-right: 15%; 
	padding : 5px;
}

#new
{
	width: 40%;
	margin-left: 15%;
	margin-right: 2%;

}

#div
{
	text-align: center;
	width: 40%;
	margin-left: 15%;
	margin-right: 2%; 
}

.todo
{
	width: 40%;
	margin-left: 15%;
	margin-right: 2%;
}